// Глобальная цветовая палитра
$dark-gray-color: #303030;
$dark-blue-color: #2d323d;
$light-blue-color: #3c4252;
$title-color: #48505e;
$grey-color: #c1c1c1;

$link-color: #6884c1;
$white-color: #ffffff;
$main-bg-color: #f2f2f2;
$selection-color: #e71baa;
$red-color: #CE1313;

.color-red {
  color: $red-color !important;
}

.color-title {
  color: $title-color !important;
}

.bg-white {
  background-color: $white-color !important;
}

.color-selection {
  color: $selection-color !important;
}

.color-white {
  color: $white-color !important;
}


.color-707070 {
  color: #707070;
}

.color-CE1313 {
  color: #CE1313;
}

.color-0077FF {
  color: #0077FF;
}


.color-adfffb {
  color: #adfffb;
}

.color-91bdff {
  color: #91bdff;
}

.color-9cd5b4 {
  color: #9cd5b4;
}

.color-e71baa {
  color: #e71baa;
}

.color-158f44 {
  color: #158f44;
}

.color-db8b22 {
  color: #db8b22;
}

.color-c51c24 {
  color: #c51c24;
}


.color-2cd49f {
  color: #2cd49f;
}

.color-874f4f {
  color: #874f4f;
}

.color-6c757d {
  color: #6c757d;
}

.color-4e70ba {
  color: #4e70ba;
}

.bd-E6E6E6 {
  background: #E6E6E6;
}
.bd-D8F7F3{
  background: #D8F7F3;
}
.bd-A6E0FC{
  background: #A6E0FC;
}
.bd-B7E281 {
  background: #B7E281;
}
.bd-FED74A {
  background: #FED74A;
}
.bd-DC0083 {
  background: #DC0083;
}
.bd-7DBD36 {
  background: #7DBD36;
}
.bd-FF7123 {
  background: #FF7123;
}
.bd-E30000 {
  background: #E30000;
}

.bd-25BEB2 {
  background: #25BEB2;
}
.bd-8E1600 {
  background: #8E1600;
}
.bd-BABABA {
  background: #BABABA;
}
.bd-878787 {
  background: #878787;
}
.bg-158f44 {
  background: #158f44;
}
.bg-c51c24 {
  background: #c51c24;
}
.bg-c51c24 {
  background: #db8b22;
}
.bg-c51c24 {
  background: #4e70ba;
}
.bg-000000 {
  background: #000000;
}

.bg-ff8d9266 {
  background: #ff8d9266;
}

.bg-98ff8d66 {
  background: #98ff8d66;
}

.bg-e71baa {
  background: #e71baa;
}
