<aside
  class="aside-wrapper"
  [ngClass]="{
    'aside_is_open': isOpened,
    'aside_is_close': !isOpened
  }"
  [ngStyle]="{
    'width': menuWidth
  }">

  <div
    class="aside-header">
    <div class="aside-header-top">
      <button
        class="aside-header-top__button"
        mat-icon-button
        (click)="changeMenuFixation()">
        <i class="fas fa-bars fa-lg"></i>
      </button>
    </div>
    <div
      class="aside-header-user">
      <div
        class="aside-header-user__login"
        [ngClass]="{
          'aside-header-user_hidden': !isOpened
        }">
        {{ (userInfo$ | async).email }}
      </div>
      <div
        class="aside-header-user__email"
        [ngClass]="{
          'aside-header-user_hidden': !isOpened
        }">
        {{ (userInfo$ | async).email }}
      </div>

      <ngx-avatar
        *ngIf="(userInfo$ | async).email as email"
        class="aside-header-user__photo"
        [ngClass]="{
          'aside-header-user__photo_visible': isOpened,
          'aside-header-user__photo_hidden': !isOpened
        }"
        [name]="email"
        [size]="isOpened ? 75 : 50">
      </ngx-avatar>
    </div>
  </div>

  <div
    *ngIf="isOpened"
    class="opacity-menu-block">
  </div>

  <nav class="aside-body"
    [ngClass]="{
      'aside-body_visible': isOpened,
      'aside-body_hidden': !isOpened
    }">
    <div *ngFor="let menuGroup of menuGroupList">
      <app-side-menu-list
        [isOpened]="isOpened"
        [menuItemsList]="menuGroup"
        [showTooltip]="isShowTooltip">
      </app-side-menu-list>
    </div>
  </nav>
</aside>

<div
  class="opacity-block"
  [style.width]="isFixed? menuSizes.opened : menuSizes.closed">
</div>
