@import "node_modules/bootstrap/scss/bootstrap-grid";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-white {
  background-color: $white !important;
}
