<div class="p-3"
  *ngIf="potentialClients; else loader">
  <div
    class="d-flex justify-content-between mb-3">
      <span class="color-title font-size-20px ml-2">Потенциальные клиенты: {{pageEvent.length}} из {{potentialClientsCount$ | async}}</span>
      <button
        mat-flat-button
        color="primary">
        <!-- TODO: Добавление пот. клиента -->
        Добавить
      </button>
  </div>

  <div class="container-fluid">
    <div class="row">

      <section class="col-xl-3 col-lg-12">
        <div class="row sticky">
          <form class="col-xl-12 col-md-6"
            [formGroup]="filterForm">
            <mat-form-field class="col-12">
              <input matInput
                     placeholder="Поиск"
                     formControlName="Filter">
            </mat-form-field>
            <mat-form-field class="col-12">
              <input matInput
                     readonly="true"
                     placeholder="Дата добавления"
                     [satDatepicker]="addPicker"
                     formControlName="AddingDate">
              <sat-datepicker-toggle
                matSuffix
                [for]="addPicker">
              </sat-datepicker-toggle>
              <sat-datepicker
                #addPicker
                [closeAfterSelection]="false"
                [rangeMode]="true">
              </sat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-12">
              <input matInput
                     readonly="true"
                     placeholder="Дата последнего события"
                     [satDatepicker]="eventPicker"
                     formControlName="EventDate">
              <sat-datepicker-toggle
                matSuffix
                [for]="eventPicker">
              </sat-datepicker-toggle>
              <sat-datepicker
                #eventPicker
                [closeAfterSelection]="false"
                [rangeMode]="true">
              </sat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-12">
              <input matInput
                     readonly="true"
                     placeholder="Дата когда перезвонить"
                     [satDatepicker]="pickerCall"
                     formControlName="CallDate">
              <sat-datepicker-toggle
                matSuffix
                [for]="pickerCall">
              </sat-datepicker-toggle>
              <sat-datepicker
                #pickerCall
                [closeAfterSelection]="false"
                [rangeMode]="true">
              </sat-datepicker>
            </mat-form-field>
          </form>
          <div class="col-xl-12 col-md-6 mb-3">
            <div class="row mx-0">
              <!--Country-->
              <div class="col-6 mb-2">
                <button
                  mat-raised-button
                  color="primary"
                  class="width-100 font-size-12px mat-flex-button"
                  (menuOpened)="countryName.value =''"
                  [matMenuTriggerFor]="Country">
                  Страна
                </button>
                <mat-menu
                  #Country>
                  <mat-form-field class="width-100 px-2" >
                    <input matInput
                           placeholder="Поиск"
                           name="countrySearch"
                           #countryName
                           (click)="$event.stopPropagation();">
                  </mat-form-field>
                  <div class="px-2 py-1"
                       *ngFor="let country of countriesList"
                       [ngClass]="{'d-none': !country.body.name.toLowerCase().includes(countryName.value.toLowerCase())}">
                    <mat-checkbox
                      [ngModel]="country.selected"
                      (change)="country.selected = !country.selected; filterPotentialClients()"
                      (click)="$event.stopPropagation();">
                      {{ country.body.name }}
                    </mat-checkbox>
                  </div>
                </mat-menu>
              </div>
              <!--ClientType-->
              <div class="col-6 mb-2">
                <button
                  mat-raised-button
                  color="primary"
                  class="width-100 font-size-12px mat-flex-button"
                  [matMenuTriggerFor]="ClientType">
                  Тип
                </button>
                <mat-menu
                  #ClientType>
                  <div class="px-2 py-1"
                       *ngFor="let type of clientTypeList">
                    <mat-checkbox
                      [ngModel]="type.selected"
                      (change)="type.selected = !type.selected; filterPotentialClients()"
                      (click)="$event.stopPropagation();">
                      {{ type.body.name }}
                    </mat-checkbox>
                  </div>
                </mat-menu>
              </div>
              <!--Managers-->
              <div class="col-6 mb-2">
                <button
                  mat-raised-button
                  color="primary"
                  class="width-100 font-size-12px mat-flex-button"
                  (menuOpened)="managerName.value =''"
                  [matMenuTriggerFor]="Manager">Менеджер</button>
                <mat-menu
                  #Manager>
                  <mat-form-field class="width-100 px-2">
                    <input matInput
                           placeholder="Поиск"
                           name="managersSearch"
                           #managerName
                           (click)="$event.stopPropagation();">
                  </mat-form-field>
                  <div class="px-2 py-1"
                       *ngFor="let manager of managersList"
                       [ngClass]="{'d-none': !manager.body.name.toLowerCase().includes(managerName.value.toLowerCase())}">
                    <mat-checkbox
                      [ngModel]="manager.selected"
                      (change)="manager.selected = !manager.selected; filterPotentialClients()"
                      (click)="$event.stopPropagation();">{{manager.body.name}}</mat-checkbox>
                  </div>
                </mat-menu>
              </div>
              <!--EventResult -->
              <div class="col-6 mb-2">
                <button
                  mat-raised-button
                  color="primary"
                  class="width-100 font-size-12px mat-flex-button"
                  [matMenuTriggerFor]="LastEventResultTypesList">Последнее событие</button>
                <mat-menu #LastEventResultTypesList>
                  <div class="px-2 py-1"
                       *ngFor="let result of eventResult">
                    <mat-checkbox
                      [ngModel]="result.selected"
                      (change)="result.selected = !result.selected; filterPotentialClients()"
                      (click)="$event.stopPropagation();">{{result.body.text}}</mat-checkbox>
                  </div>
                </mat-menu>
              </div>
              <!--EventType -->
              <div class="col-6 mb-2">
                <button
                  mat-raised-button
                  color="primary"
                  class="width-100 font-size-12px mat-flex-button"
                  [matMenuTriggerFor]="LastEventTypesList">Последнее действие</button>
                <mat-menu #LastEventTypesList>
                  <div class="px-2 py-1" *ngFor="let type of eventAction">
                    <mat-checkbox
                      [ngModel]="type.selected"
                      (change)="type.selected = !type.selected; filterPotentialClients()"
                      (click)="$event.stopPropagation();">{{type.body.text}}</mat-checkbox>
                  </div>
                </mat-menu>
              </div>
              <!--WayToAdd -->
              <div class="col-6 mb-2">
                <button
                  mat-raised-button
                  color="primary"
                  class="width-100 font-size-12px mat-flex-button"
                  [matMenuTriggerFor]="WayToAddList">Способ добавления</button>
                <mat-menu #WayToAddList>
                  <div class="px-2 py-1" *ngFor="let way of wayToAddList">
                    <mat-checkbox
                      [ngModel]="way.selected"
                      (change)="way.selected = !way.selected; filterPotentialClients()"
                      (click)="$event.stopPropagation();">{{way.body.title}}</mat-checkbox>
                  </div>
                </mat-menu>
              </div>
            </div>
            <div class="row mx-0">
              <div class="col-12 my-3">
                <mat-checkbox
                  [(ngModel)]="showTestClients"
                  (change)="filterPotentialClients()">Только тестовые</mat-checkbox>
              </div>

            </div>
          </div>
          <div class="col-12">
            <mat-chip-list>
              <mat-chip
                class="mb-3 chip-filter-item"
                *ngIf="filterForm.controls.Filter.value"
                [removable]="true"
                (removed)="filterForm.controls.Filter.reset()">
                Поиск: {{ filterForm.controls.Filter.value }}
                <i matChipRemove class="fas fa-times d-flex align-items-center"></i>
              </mat-chip>
              <mat-chip
                class="mb-3 chip-filter-item p-3"
                *ngIf="filterForm.controls.EventDate.value"
                [removable]="true"
                (removed)="filterForm.controls.EventDate.reset()">
                Дата события: {{(filterForm.controls.EventDate.value['begin'] | date: 'dd-MMM-yyyy') + ' - ' + (filterForm.controls.EventDate.value['end'] | date: 'dd-MMM-yyyy')}}
                <i matChipRemove class="fas fa-times d-flex align-items-center"></i>
              </mat-chip>
              <mat-chip
                class="mb-3 chip-filter-item p-3"
                *ngIf="filterForm.controls.AddingDate.value"
                [removable]="true"
                (removed)="filterForm.controls.AddingDate.reset()">
                Дата добавления: {{(filterForm.controls.AddingDate.value['begin'] | date: 'dd-MMM yyyy') + ' - ' + (filterForm.controls.AddingDate.value['end'] | date: 'dd-MMM yyyy')}}
                <i matChipRemove class="fas fa-times d-flex align-items-center"></i>
              </mat-chip>
              <mat-chip
                class="mb-3 chip-filter-item p-3"
                *ngIf="filterForm.controls.CallDate.value"
                [removable]="true"
                (removed)="filterForm.controls.CallDate.reset()">
                Когда перезвонить: {{(filterForm.controls.CallDate.value['begin'] | date: 'dd-MMM yyyy') + ' - ' + (filterForm.controls.CallDate.value['end'] | date: 'dd-MMM yyyy')}}
                <i matChipRemove class="fas fa-times d-flex align-items-center"></i>
              </mat-chip>
              <mat-chip
                class="mb-2 chip-filter-item"
                *ngFor="let country of selectedCountry()"
                [removable]="true"
                (removed)="country.selected = false; filterPotentialClients();">
                <span
                  class="flag-icon flag-icon-{{ country.body.code | lowercase }} mr-1">
                </span>
                {{ country.body.name }}
                <i matChipRemove class="fas fa-times d-flex align-items-center"></i>
              </mat-chip>
              <mat-chip
                class="mb-3 chip-filter-item "
                *ngFor="let type of selectedClientType()"
                [removable]="true"
                (removed)="type.selected = false; filterPotentialClients();">
                {{ type.body.name }}
                <i matChipRemove class="fas fa-times d-flex align-items-center"></i>
              </mat-chip>
              <mat-chip
                class="mb-3 chip-filter-item "
                *ngFor="let manager of selectedManager()"
                [removable]="true"
                (removed)="manager.selected = false; filterPotentialClients();">
                {{manager.body.name}}
                <i matChipRemove class="fas fa-times d-flex align-items-center"></i>
              </mat-chip>
              <mat-chip
                class="mb-3 chip-filter-item "
                *ngFor="let eventResult of selectedEventResult()"
                [removable]="true"
                (removed)="eventResult.selected = false; filterPotentialClients();">
                {{eventResult.body.text}}
                <i matChipRemove class="fas fa-times d-flex align-items-center"></i>
              </mat-chip>
              <mat-chip
                class="mb-3 chip-filter-item "
                *ngFor="let eventType of selectedEventType()"
                [removable]="true"
                (removed)="eventType.selected = false; filterPotentialClients();">
                {{eventType.body.text}}
                <i matChipRemove class="fas fa-times d-flex align-items-center"></i>
              </mat-chip>
              <mat-chip
                class="mb-3 chip-filter-item "
                *ngFor="let way of selectedWayToAdd()"
                [removable]="true"
                (removed)="way.selected = false; filterPotentialClients();">
                {{way.body.title}}
                <i matChipRemove class="fas fa-times d-flex align-items-center"></i>
              </mat-chip>
              <mat-chip
                class="mb-3 chip-filter-item p-3"
                *ngIf="showTestClients"
                [removable]="true"
                (removed)="showTestClients = false; filterPotentialClients()">
                Показывать только тестовые
                <i matChipRemove class="fas fa-times d-flex align-items-center"></i>
              </mat-chip>

            </mat-chip-list>
          </div>
        </div>
      </section>

      <section class="potential-clients col-xl-9 col-lg-12">
        <div
          *ngIf="urgentPotentialClients"
          class="potential-clients-urgent">
          <p class="potential-clients-urgent__header color-title font-size-16px font-weight-semibold bg-ff8d9266 p-2 border-radius-4px">
            Неотложные:
            <span class="font-weight-Bold font-size-18px">{{urgentPotentialClients().length}}</span>
          </p>
          <ul
            *ngIf="urgentPotentialClients().length > 0"
            class="list-unstyled">
            <li
              *ngFor="let potentialClient of urgentPotentialClients(); let index = index"
              class="potential-clients-urgent__card my-2 px-3 py-2">
              <ng-container
                [ngTemplateOutlet]="potentialUser"
                [ngTemplateOutletContext]="{potentialClient: potentialClient}"></ng-container>
            </li>
          </ul>
        </div>

        <div
          *ngIf="potentialClients"
          class="potential-clients-all">
          <p
            class="potential-clients-all__header color-title font-size-16px font-weight-semibold bg-98ff8d66 p-2 border-radius-4px">
            Все
          </p>

          <ul
            *ngIf="paginationPotentialClients().length > 0"
            class="list-unstyled">
            <li
              *ngFor="let potentialClient of paginationPotentialClients(); let index = index"
              class="potential-clients-all__card my-2 px-3 py-2">
              <ng-container
                [ngTemplateOutlet]="potentialUser"
                [ngTemplateOutletContext]="{potentialClient: potentialClient}"></ng-container>
            </li>
          </ul>

          <mat-paginator
            #paginator
            [length]="pageEvent.length"
            [pageSize]="pageEvent.pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="pagination($event)">
          </mat-paginator>
        </div>
      </section>

    </div>
  </div>

</div>

<ng-template
  #potentialUser
  let-potentialClient="potentialClient"
  class="potential-client">
  <div class="row">
    <div class="row col-lg-5 col-sm-12 mb-3 align-items-center">

        <span class="col-2 potential-client__id border-right"
          appHighlight
          [text]="potentialClient.id.toString()"
          [searchedWords]="filterForm.controls.Filter.value">
        </span>

        <span class="col-2 potential-client__type border-right">
          {{ potentialClient.type.name }}
        </span>

        <span class="col-2 potential-client__country border-right">
          <span
            class="flag-icon flag-icon-{{ potentialClient.countryCode | lowercase }}"
            [matTooltip]="potentialClient.countryName"
            [matTooltipPosition]="'above'">
          </span>
        </span>

        <a
        class="potential-client__name text-overflow-ellipsis col-6"
        [routerLink]="['/']">
        <span
          appHighlight
          [text]="potentialClient.companyName"
          [searchedWords]="filterForm.controls.Filter.value">
        </span>
      </a>
    </div>
    <div class="row col-lg-7 col-sm-12 mb-3 align-items-center">
      <span class="col-3"></span>
      <span class="potential-client__way-to-add col-4 border-right border-left"
         *ngIf="potentialClient.wayToAdd !== null">
        <i class="fas"
           [ngClass]="potentialClient.wayToAdd.icon"></i>
        {{ potentialClient.wayToAdd.title }}
      </span>
      <span class="potential-client__addition-date col-3"
        [ngClass]="{'border-right': potentialClient.managers.length > 0}">
        {{potentialClient.additionDate | date}}
      </span>
      <ul class="potential-client__managers col-2">
        <li class="mr-1"
            *ngFor="let manager of potentialClient.managers"
            [matTooltip]="manager.name">
          <ngx-avatar
            [name]="manager.name  || 'test'"
            [size]="30">
          </ngx-avatar>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <div *ngIf="potentialClient.lastEvent">
        <ng-container [ngTemplateOutlet]="lastEvent"
                      [ngTemplateOutletContext]="{lastEvent: potentialClient.lastEvent}"></ng-container>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row potential-client-contact">
        <div class="col-4 d-flex justify-content-center align-items-center border-right">
          <span
            *ngIf="potentialClient.contacts?.name"
            class="potential-client-contact__name text-overflow-ellipsis"
            [matTooltip]="potentialClient.contacts?.name"
            appHighlight
            [text]="potentialClient.contacts?.name"
            [searchedWords]="filterForm.controls.Filter.value">
          </span>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center border-right">
          <button
            mat-button
            color="info"
            class="font-size-14px"
            [cdkCopyToClipboard]="potentialClient.contacts?.phone"
            *ngIf="potentialClient.contacts?.phone"
            [matTooltip]="potentialClient.contacts?.phone">
            <i class="fas fa-phone mr-1"></i>
            <span
              appHighlight
              [searchedWords]="filterForm.controls.Filter.value"
              [text]="potentialClient.contacts?.phone">
            </span>
          </button>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center border-right">
          <button
            mat-button
            color="info"
            class="font-size-14px"
            [cdkCopyToClipboard]="potentialClient.contacts?.email"
            *ngIf="potentialClient.contacts?.email"
            [matTooltip]="potentialClient.contacts?.email">
            <i class="fas fa-envelope mr-1"></i>
            <span
              appHighlight
              [searchedWords]="filterForm.controls.Filter.value"
              [text]="potentialClient.contacts?.email">
            </span>
          </button>
      </div>
    </div>

    </div>
  </div>
</ng-template>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<ng-template #lastEvent let-lastEvent="lastEvent">
  <div class="last-event">
    <div class="d-flex align-items-start">
      <span class="border-right font-weight-Semibold font-size-14px pr-2">
        <span>{{lastEvent.date | date: 'dd MMM y'}}</span>
        -
        <span *ngIf="lastEvent.notificationDate"
          [ngClass]="{'color-red font-weight-bold': checkNotificationDate(lastEvent.notificationDate)}">{{lastEvent.notificationDate | date: 'dd MMM y'}}</span>
      </span>
      <div class="last-event__comment font-size-14px px-2"
           appHighlight
           [searchedWords]="filterForm.controls.Filter.value"
           [text]="lastEvent.comment">
      </div>
      <div class="dd-flex align-items-center ml-auto">
        <span>
          {{ lastEvent.eventsResult }}
        </span>
        <span>
          {{ lastEvent.eventAction }}
        </span>
      </div>
    </div>
  </div>
</ng-template>
