<div class="p-3">
  <div
    *ngIf="potentialClients"
    class="d-flex justify-content-between mb-3">
      <span class="color-title font-size-20px ml-2">Потенциальные клиенты: {{pageEvent.length}} из {{potentialClients.length}}</span>
      <button
        mat-flat-button
        color="primary">
        <!-- TODO: Добавление пот. клиента -->
        Добавить
      </button>
  </div>

  <div class="container-fluid">
    <div class="row">

      <section class="col-lg-3 col-sm-12">
        <div class="row sticky">
          <form
            class="col-lg-12 col-sm-6"
            [formGroup]="filterForm">
            <mat-form-field class="col-12">
              <input matInput
                     placeholder="Поиск"
                     formControlName="Filter">
            </mat-form-field>
            <mat-form-field class="col-12">
              <input matInput
                     readonly="true"
                     placeholder="Дата добавления"
                     [satDatepicker]="addPicker"
                     formControlName="AddingDate">
              <sat-datepicker-toggle
                matSuffix
                [for]="addPicker">
              </sat-datepicker-toggle>
              <sat-datepicker
                #addPicker
                [closeAfterSelection]="false"
                [rangeMode]="true">
              </sat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-12">
              <input matInput
                     readonly="true"
                     placeholder="Дата последнего события"
                     [satDatepicker]="eventPicker"
                     formControlName="EventDate">
              <sat-datepicker-toggle
                matSuffix
                [for]="eventPicker">
              </sat-datepicker-toggle>
              <sat-datepicker
                #eventPicker
                [closeAfterSelection]="false"
                [rangeMode]="true">
              </sat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-12">
              <input matInput
                     readonly="true"
                     placeholder="Дата когда перезвонить"
                     [satDatepicker]="pickerCall"
                     formControlName="CallDate">
              <sat-datepicker-toggle
                matSuffix
                [for]="pickerCall">
              </sat-datepicker-toggle>
              <sat-datepicker
                #pickerCall
                [closeAfterSelection]="false"
                [rangeMode]="true">
              </sat-datepicker>
            </mat-form-field>
          </form>
        </div>
      </section>

      <section class="potential-clients col-lg-9 col-sm-12">

        <div
          *ngIf="urgentPotentialClients"
          class="potential-clients-urgent">
          <p class="potential-clients-urgent__header color-title font-size-16px font-weight-semibold bg-ff8d9266 p-2 border-radius-4px">
            Неотложные:
            <span class="font-weight-Bold font-size-18px">{{urgentPotentialClients().length}}</span>
          </p>
          <ul
            *ngIf="urgentPotentialClients().length > 0"
            class="list-unstyled">
            <li
              *ngFor="let potentialClient of urgentPotentialClients(); let index = index"
                class="potential-clients-urgent__card my-2 px-3 py-2">
              <ng-container
                [ngTemplateOutlet]="potentialUser"
                [ngTemplateOutletContext]="{potentialClient: potentialClient}"></ng-container>
            </li>
          </ul>
        </div>

        <div
          *ngIf="potentialClients"
          class="potential-clients-all">
          <p
            class="potential-clients-all__header color-title font-size-16px font-weight-semibold bg-98ff8d66 p-2 border-radius-4px">
            Все
          </p>

          <ul
            *ngIf="paginationPotentialClients().length > 0"
            class="list-unstyled">
            <li
              *ngFor="let potentialClient of paginationPotentialClients(); let index = index"
              class="potential-clients-all__card my-2 px-3 py-2">
              <ng-container
                [ngTemplateOutlet]="potentialUser"
                [ngTemplateOutletContext]="{potentialClient: potentialClient}"></ng-container>
            </li>
          </ul>

          <mat-paginator [length]="pageEvent.length"
                         [pageSize]="pageEvent.pageSize"
                         [pageSizeOptions]="pageSizeOptions"
                         (page)="pagination($event)">
          </mat-paginator>
        </div>

      </section>

    </div>
  </div>

</div>

<ng-template
  #potentialUser
  let-potentialClient="potentialClient"
  class="potential-client">
  <div class="row">
    <div class="row col-lg-5 col-sm-12 mb-3 align-items-center">

        <span class="col-2 potential-client__id border-right">
          {{ potentialClient.id }}
        </span>

        <span class="col-2 potential-client__type border-right">
          {{ potentialClient.type.name }}
        </span>

        <span class="col-2 potential-client__country border-right">
          <span
            class="flag-icon flag-icon-{{ potentialClient.countryCode | lowercase }}"
            [matTooltip]="potentialClient.countryName"
            [matTooltipPosition]="'above'">
          </span>
        </span>

        <a
        class="potential-client__name text-overflow-ellipsis col-6"
        [routerLink]="['/']">
        <span>
          {{potentialClient.companyName}}
        </span>
      </a>
    </div>
    <div class="row col-lg-7 col-sm-12 mb-3 align-items-center">
      <span class="col-3"></span>
      <span class="potential-client__way-to-add col-4 border-right border-left"
         *ngIf="potentialClient.wayToAdd !== null">
        <i class="fas"
           [ngClass]="potentialClient.wayToAdd.icon"></i>
        {{ potentialClient.wayToAdd.title }}
      </span>
      <span class="potential-client__addition-date col-3"
        [ngClass]="{'border-right': potentialClient.managers.length > 0}">
        {{potentialClient.additionDate | date}}
      </span>
      <ul class="potential-client__managers col-2">
        <li class="mr-1"
            *ngFor="let manager of potentialClient.managers"
            [matTooltip]="manager.name">
          <ngx-avatar
            [name]="manager.name  || 'test'"
            [size]="30">
          </ngx-avatar>
        </li>
      </ul>
    </div>
  </div>
  <div class="row"></div>
  <div class="row"></div>

<!--  <div class="row mx-0 justify-content-between align-items-center col-12 px-0 align-self-end">-->
<!--    <div class="col">-->
<!--      <div *ngIf="potentialClient.DraftEvent">-->
<!--        <ng-container [ngTemplateOutlet]="lastEvent"-->
<!--                      [ngTemplateOutletContext]="{lastEvent: potentialClient.DraftEvent}"></ng-container>-->
<!--      </div>-->
<!--      <div *ngIf="potentialClient.LastEvent && !potentialClient.DraftEvent">-->
<!--        <ng-container [ngTemplateOutlet]="lastEvent"-->
<!--                      [ngTemplateOutletContext]="{lastEvent: potentialClient.LastEvent}"></ng-container>-->
<!--      </div>-->

<!--      <div class="col d-flex px-0 align-items-center client-contact"-->
<!--           *ngIf="potentialClient.Contacts">-->
<!--        <div class="font-weight-Bold border-right pl-0 pr-2 font-size-14px mr-3 client-contact__name">-->
<!--                      <span class="text-overflow-ellipsis d-block"-->
<!--                            *ngIf="potentialClient.Contacts.Name"-->
<!--                            [matTooltip]="potentialClient.Contacts.Name"-->
<!--                            appHighlight-->
<!--                            [searchedWords]="filterForm.controls.Filter.value"-->
<!--                            [text]="potentialClient.Contacts.Name"-->
<!--                            classToApply="selected-color">-->
<!--                      </span>-->
<!--        </div>-->
<!--        <div class="font-weight-Regular border-right pl-0 pr-2 font-size-14px mr-3 client-contact__position px-0">-->
<!--                      <span class="text-overflow-ellipsis d-block"-->
<!--                            *ngIf="potentialClient.Contacts.Position"-->
<!--                            [matTooltip]="potentialClient.Contacts.Position"-->
<!--                            appHighlight-->
<!--                            [searchedWords]="filterForm.controls.Filter.value"-->
<!--                            [text]="potentialClient.Contacts.Position"-->
<!--                            classToApply="selected-color">-->
<!--                      </span>-->
<!--        </div>-->
<!--        <button mat-raised-button-->
<!--                color="info"-->
<!--                class="font-size-14px mr-3 "-->
<!--                *ngIf="potentialClient.Contacts.Phone"-->
<!--                [matTooltip]="potentialClient.Contacts.Phone"-->
<!--                ngxClipboard-->
<!--                [cbContent]="potentialClient.Contacts.Phone"-->
<!--        >-->
<!--          <i class="fas fa-phone mr-1" ></i>-->
<!--          <span appHighlight-->
<!--                [searchedWords]="filterForm.controls.Filter.value"-->
<!--                [text]="potentialClient.Contacts.Phone | slice: 0: 15"-->
<!--                classToApply="selected-color">-->
<!--                      </span>-->
<!--        </button>-->
<!--        <button mat-raised-button-->
<!--                color="info"-->
<!--                class="border-left"-->
<!--                *ngIf="potentialClient.Contacts.Email"-->
<!--                [matTooltip]="potentialClient.Contacts.Email"-->
<!--                ngxClipboard-->
<!--                [cbContent]="potentialClient.Contacts.Email"-->
<!--        >-->
<!--          <i class="fas fa-envelope mr-1" ></i>-->
<!--          <span appHighlight-->
<!--                [searchedWords]="filterForm.controls.Filter.value"-->
<!--                [text]="potentialClient.Contacts.Email"-->
<!--                classToApply="selected-color">-->
<!--                      </span>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <button mat-raised-button-->
<!--            color="primary"-->
<!--            class="mat-button-small ml-auto align-self-start"-->
<!--            (click)="createAction(potentialClient.Id)">+</button>-->
<!--  </div>-->
</ng-template>
