@import "src/app/styles/colors";

.sticky {
  position: sticky;
  top: 10px;
}

.potential-clients {
  &-all {
    &__header {
      position: sticky;
      box-shadow: 0 0 5px 3px #98ff8d66;
      top: 0;
      z-index: 100;
    }

    &__card {
      border-radius: 8px;
      border: 1px solid rgba(112, 112, 112, 0.3);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.31);
      min-height: 100px;
      transition: 0.5s;
    }
  }

  &-urgent {
    &__header {
      position: sticky;
      top: 0;
      z-index: 100;
      box-shadow: 0 0 5px 3px #ff8d9266;
    }

    &__card {
      border-radius: 8px;
      border: 1px solid rgba(112, 112, 112, 0.3);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.31);
      min-height: 100px;
      transition: 0.5s;
    }
  }

}

.potential-client {
  font-weight: 400;
  font-size: 16px;

  &__id {
    color: #707070;
  }

  &__type {
    text-align: center;
  }

  &__country {
    text-align: center;
  }

  &__name {
    font-weight: 500;
    text-transform: uppercase;
  }

  &__way-to-add {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
  }

  &__addition-date {
    padding-left: 10px;
    padding-right: 10px;
    color: #707070;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
  }

  &__managers {
    display: flex;
    list-style: unset;
  }

  &-contact {
    &__name {
      font-size: 14px;
      font-weight: 600;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

}

.last-event {
  &__comment {
    max-height: 60px;
    overflow: hidden;
    white-space: pre-wrap;
    ::ng-deep img {
      display: none!important;
    }
    ::ng-deep img:before {
      content: '...';
      font-weight: bold;
    }
  }
}


.chip-filter-item {
  background: $white-color;
  border: 1px rgba(109, 0, 255, 0.56) solid;
  font-weight: 400;
}

::ng-deep .mat-paginator {
  background-color: $main-bg-color;
}

::ng-deep .mat-menu-content {
  max-height: 75vh;
}

.border-right {
  border-right: 1px #e0e0e0 solid;
}

.border-left {
  border-left: 1px #e0e0e0 solid;
}

.bg-98ff8d66 {
  background: #98ff8d66;
}

.bg-ff8d9266 {
  background: #ff8d9266;
}


