@import "src/app/styles/colors";

:host {
  transition: all 0.3s;
}

.menu-title {
  height: 40px;
  padding-top: 10px;
  padding-left: 13px;
  text-transform: uppercase;
  font-weight: 600;
  color: $grey-color;
  transition: opacity 0.5s;
  user-select: none;
}

.menu-title_hidden {
  opacity: 0;
}

.hr-wrapper {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr {
  height: 0;
  width: 17px;
  border-bottom: 2px solid $grey-color;
}

