@import "src/app/styles/colors";

:host {
  transition: all 0.3s;
}

.menu-title {
  height: 40px;
  padding-top: 10px;
  padding-left: 13px;
  text-transform: uppercase;
  font-weight: 600;
  color: $grey-color;
  transition: all 0.3s;
  user-select: none;
}

.menu-title_hidden {
  opacity: 0;
}

